// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #05a1e9;
$black:#000;
$white:#fff;


$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


  /*---------------------------
    ホーム画面の編集
    -----------------------------*/
.img-on-btn{
    position: relative;
    width: 100%;
    text-align: center;
    width: 100%;

}

.btn-zone{
    display:flex;


.c-btn{
    position : absolute;
    left:20%;
    top:50%;
    width:50%;

.reg{
    
    font-size:1.5vw;
    padding:2vw;

}
.log{
  
  
    font-size:1.5vw;
    padding:2vw;
}
}

.u-btn{
    position : absolute;
    left:60%;
    top:50%;
    width:50%;

.reg{
   
   
    font-size:1.5vw;
    padding:2vw;
}

.log{
    
   
    font-size:1.5vw;
    padding:2vw;
}
}

}





// トップ画像
.top-img{
    width:100%;
    height: auto;
}

.heading{
    margin-left: 18%;
    font-size:5vw;
    margin-top:30px;
    margin-bottom:20px;
  

    small{
        color: #05a1e9;
        font-size:2.5vw;
        padding-bottom:0px ;
       virtial-align:bottom;
    }
}

.company-flex{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

  
            .company-items{
                text-align: center;
                margin:0px 5%;
                overflow:		hidden;
             
            }
            //c-dtail
            .c-detail{
                
                position:		relative;

                .cimg{
  
                    width:  250px;       /* ※縦横を同値に */
                    height: 250px;       /* ※縦横を同値に */
                    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
                    background-position: left top;  /* 横長画像の左上を基準に表示 */
                    display: inline-block;          /* 複数の画像を横に並べたい場合 */
                    object-fit: cover;
                    opacity: 1;
                    border: 9px solid $blue;
                  
                }
                .mask{
                    width:			100%;
    height:			100%;
    border-radius: 50%;  
                    position:		absolute;
                    top:			0;
                    left:			0;
                    opacity:		0;	/* 表示させない */
                    background-color:	rgba(0,0,0,0.4);
                    -webkit-transform:	rotateY(-180deg);
                    transform:		rotateY(-180deg);
                    -webkit-transition:	all 0.6s ease;
                    transition:		all 0.6s ease;
                }
                p{
                    color:#fff;
                    text-align: 		center;
                }
                a{
                     color:#fff;
                    text-align: 		center;
                }

            
            }
            .c-detail:hover .mask {
                -webkit-transform:	rotateY(0deg);
                transform:		rotateY(0deg);
                opacity:		1;	/* ホバーで表示する */
            }
            //c-detail
            
           
            .c-name{
                margin:5px auto 3px;

            }

            .send-btn{
             margin-top:5px;
             margin-bottom: 30px;
             background-color: #05a1e9;
             border-bottom: 6px solid #04577d;
             border-radius: 100vh;
             font-size:1.5vw;
             color: #fff;
             padding:1.2vw;

            }
            .send-btn:hover{
                margin-top: 6px;
                color: #fff;
                background: #05a1e9;
                border-bottom: 2px solid #04577d;
            }


}

